body {
	margin:0;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height:18px;
	color:#333333;
	background-color:#ffffff;
}

.hero-unit {
	padding:60px;
	margin-bottom:0px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	background-color:#ffffff;
}
.hero-unit h1 {
	margin-bottom:0;
	font-size:60px;
	line-height:1;
	letter-spacing:-1px;
}
.hero-unit p {
	font-size:18px;
	font-weight:200;
	line-height:27px;
}

p {
	margin-bottom:20px;
}
.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}
