<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	<link rel="shortcut icon" href="/assets/favicon.png" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/publicfields.css" rel="stylesheet">
</head>
<body>

<div class="container">

{{content}}

</div> <!-- /container -->

</body>
</html>
